/* Обращение ко всем элементам */
/* RESET CSS START */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

/* RESET CSS END */

body {
    font-family: "Open Sans", sans-serif;
}

.container {
    max-width: 970px;
    margin: 0 auto;
}

/* HEADER START */
.header__nav {
    border-bottom: 1px solid #828282;
}

.header__list {
    display: flex;
    gap: 40px;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

.header__link {
    letter-spacing: 2%;
    line-height: 25px;
    font-weight: 400;
    font-size: 18px;
    color: #828282;
    text-decoration: none;

}



/* HEADER END */


/* SECTION HERO START */
.hero__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 65px;
    padding-bottom: 50px;
}


/* SECTION HERO END */


/* SECTION ABOUT START */
.about {
    background-color: #F6F6F6;
}



.sub-title {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
    font-weight: 700;
    font-size: 34px;
    line-height: 46px;
    color: #070707;

}




.text {
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #070707;
    padding-bottom: 30px;



}


/* SECTION ABOUT END */