/* Обращение ко всем элементам */
/* RESET CSS START */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

/* RESET CSS END */

body {
    font-family: "Open Sans", sans-serif;
}

.container {
    max-width: 970px;
    margin: 0 auto;
}


.sub-title {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
    font-weight: 700;
    font-size: 34px;
    line-height: 46px;
    color: #070707;

}


.text {
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #070707;
    padding-bottom: 30px;

}

/* HEADER START */
.header__nav {
    border-bottom: 1px solid #828282;
}

.header__list {
    display: flex;
    gap: 40px;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

.header__link {
    letter-spacing: 2%;
    line-height: 25px;
    font-weight: 400;
    font-size: 18px;
    color: #828282;
    text-decoration: none;

}



/* HEADER END */


/* SECTION HERO START */


.hero__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 65px;
    padding-bottom: 50px;
    padding-top: 12px;
}


/* SECTION HERO END */





/* SECTION ABOUT START */
.section__about {
    background-color: #F6F6F6;
}



.about__text {
    padding-bottom: 100px;
    max-width: 480px;

}



/* SECTION ABOUT END */




/* Section Skills start */
.skills__title {
    padding-bottom: 20px;
}


/* Section Skills END */




/* Section Portfolio start */

.section__potfolio {
    background-color: #F6F6F6;
}


.img__portfolio {
    padding-bottom: 40px;
}


.text__portfolio {
    text-decoration-line: underline;
    text-decoration-style: solid;

}

.portfolio-example {
    padding-bottom: 70px;
}

.braun-landing-page {
    padding-bottom: 100px;
}

/* Section Portfolio END */





/* Section Contacts start */



.heading__contacts {
    width: 280px;
    height: 106px;
    margin-bottom: 60px;

}

.contacts__title {
    padding-bottom: 20px;
}


/* Section Contacts END */